.un-footer{
    margin: 20px 0px;
    padding: 40px 0px;
    text-align: center;

    &__icons{
        width: 30px;
        height: auto;
        margin: 10px;
        transition: 0.3s ease-in-out;

        &:hover{
            transform: translateY(-5px);
            transition: 0.3s ease-in-out;
        }
    }

    &__inner{
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .un-title__cnt{
        color: #080808BF;
        font-weight: 600;
        margin: 0px 20px;

        &:hover{
            color: $color-black;
        }
    }
    .un-title__sub{
        font-size: 16px;
        line-height: 20px;
        margin-top: 20px;
        font-weight: 500;
    }
}

@include mobile{
    .un-footer{
        padding: 20px 0px;
        &__inner{
            flex-direction: column;
        }
        .un-title__cnt{
            margin: 5px 0px;
        }
    }
}