.un-gallery {
	display: flex;
	padding: 5px 0px;
	transition: .3s;
	
	&:hover{
        .un-gallery__image{
            filter: grayscale(1);
        }
	}
	
	&__column {
		display: flex;
		flex-direction: column;
		width: 25%;
	}
	
	&__link {
		margin: 5px;
        border-radius: 7px;
		overflow: hidden;
		
		&:hover {

			.un-gallery__image {
				filter: grayscale(0);
                transform: scale(1.1);
			}
			
			.un-gallery__caption {
				opacity: 1;
			}
		}
	}
	
	&__thumb {
		position: relative;
	}
	
	&__image {
		display: block;
		width: 100%;
		transition: .3s;
		
		&:hover {
			transform: scale(1.1);
		}
	}
	
	&__caption {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 25px 15px 15px;
		width: 100%;
		font-size: 16px;
		color: white;
		opacity: 0;
		background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255 ,255 , 0) 100%);
		transition: .3s;
	}
}

@include tablet{
    .un-gallery{
        &__caption{
            opacity: 1;
            padding: 5px;
            font-size: 14px;
        }
    }
}

@include mobile{
    .un-gallery{
        display: block;

		&__caption{
            opacity: 1;
            padding: 10px;
            font-size: 14px;
        }

        &__column {
            width: 100%;
        }
    }
}
