.un-header{
    width: 100%;

    .navbar-expand-lg .navbar-collapse{
        justify-content: flex-end;
        margin-right: 20px;
    }
    .navbar{
        padding: 10px 0px;
    }
    .btn{
        padding: 5px 10px;

        &:focus{
            box-shadow: none;
        }
    }
    .navbar-dark .navbar-nav .nav-link{
        color: rgba(8, 8, 8, 0.75);
        font-weight: 600;

        &:hover{
            color: $color-black;
        }

        &:focus{
            color: $color-black;
        }
    }
    .bg-dark{
        background-color: $color-white !important;
    }

    .navbar-expand-lg .navbar-nav .nav-link{
        margin: 0px 20px;
        padding: 0px;
    }

    &__logo{
        width: 50px;
        height: auto;
    }

}