.un-review{
    padding: 30px 0px;

    .slick-prev, .slick-next{
        display: none;
    }

    .slick-center{
        background: linear-gradient(to bottom right, #000000, #757785);

        .un-tile-h__head, .un-tile-h__sub{
            color: white;
        }

        &:hover{
            background: linear-gradient(to bottom right, #757785, #000000);
        }
    }

    &__prev{ 
        display: inline-flex;
        align-items: center;
        font-size: 20px;
        line-height: 20px;
        color: #ffffff;
        background: linear-gradient(to bottom right, #000000, #757785);
        border-radius: 50%;
        outline: none;
        padding: 13px;
        margin-right: 15px;
        transition: 0.5s ease-in-out;

        &:hover{
            transition: 0.5s ease-in-out;
            background: linear-gradient(to bottom right, #757785, #000000);
           }
    }

    &__next{ 
        display: inline-flex;
        align-items: center;
        font-size: 20px;
        line-height: 20px;
        color: #ffffff;
        background: linear-gradient(to bottom right, #000000, #757785);
        border-radius: 50%;
        outline: none;
        padding: 13px;
        transition: 0.5s ease-in-out;

        &:hover{
            transition: 0.5s ease-in-out;
            background: linear-gradient(to bottom right, #757785, #000000);
           }
    }

    &__btn-wrap{
        display: flex;
        justify-content: flex-end;
     
    }

    .un-title{
        width: 100%;
        height: auto;
        align-items: center;
        margin-left: 0px;
        margin-top: 20px;
        text-align: center;
    }
    .un-title__sub {
        font-size: 16px;
        line-height: 15px;
        font-weight: 500;
        padding-bottom: 5px;
    }

}

@include tablet{
    .un-review{
        padding-top: 10px;

        &__btn-wrap{
            display: none;
        }
    }
}

@include mobile{
    .un-review{
        padding-top: 0px;
        padding-bottom: 20px;
        &__btn-wrap{
            display: none;
        }

        .un-title{
            margin-bottom: 0px;
        }
    }
}