.un-scroll{
        position: fixed;
        bottom: 10px;
        right: 20px;
        background: linear-gradient(to bottom right, #000000, #757785);
        color: $color-white;
        padding: 10px 19px;
        border-radius: 50%;
        font-size: 20px;
        outline: none;
        border: none;
        text-decoration: none;
        transition: all 0.4s;
        opacity: 0;
        pointer-events: none;

        &:hover{
            background: linear-gradient(to bottom right, #757785, #000000);
            color: $color-white;
        }
}

.un-scroll.active{
    bottom: 20px;
    opacity: 1;
    pointer-events: auto;
}