.un-download-btn{
    padding: 20px;

    &__btn-1{
       display: flex;
       align-items: center;
       font-size: 16px;
       line-height: 20px;
       color: $color-white;
       background-color: $color-black;
       border: 1px solid $color-black;
       border-radius: 30px;
       transition: 0.3s ease-in-out;
       outline: none;
       padding: 10px 30px;
   
       svg{
           width: 16px;
           height: auto;
           display: flex;
           align-items: center;
           margin-right: 4px;
       }
       
   
       &:hover{
           transition: 0.3s ease-in-out;
           color: $color-black;
           background-color: $color-white;
   
       }
   
    }
       
   }