.un-hero-car{
    padding-top: 60px;
    
    &__container{
        display: flex;
        justify-content: center;
        align-items: center;

        p{
            font-size: 183px;
            line-height: 195px;
            color: $color-white;
            letter-spacing: 10px;
            font-weight: 700;
            opacity: 0.2;
            transition: 0.3s;

            &.blink{
                opacity: 1;
                transition: 0.3s;
            }

            &:hover{
                opacity: 0.6;
                transition: 0.3s;
            }

        }
    }

    &__img-outer{
        display: flex;
        justify-content: center;
        margin-top: -70px;
        position: relative;
        z-index: 1;
        
        img{
            width: 85%;
            height: auto;
        }
    } 
}

@include tablet{
    .un-hero-car{
        &__container p{
            font-size: 110px;
            line-height: 140px;

            &:hover{
                opacity: 0.3;
            }
        }
        &__img-outer{
            margin-top: -50px;
        }
    }
   
}

@include mobile{
    .un-hero-car{
        &__container p{
            font-size: 40px;
            line-height: 50px;

            &:hover{
                opacity: 0.3;
            }
        }

        &__img-outer{
            margin-top: -20px;
            img{
                width: 100%;
                height: auto;
            }
        }
   
       &__cnt{
           margin-bottom: 40px;
       }

       &__unbreak{
            display: none;
       }
    }

   
}