.un-mobile-icon{
    width: 60%;
    height: auto;
    position: relative;
    margin-left: 20px;

    &__img-1{
        width: 280px;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__img-2{
        width: 280px;
        height: auto;
        position: absolute;
        top: 0;
        left: 18%;
        z-index: 1;
    }

    &__img-3{
        width: 280px;
        height: auto;
        position: absolute;
        top: 0;
        left: 40%;
    }
}

@include tablet{
    .un-mobile-icon{
        width: 50%;
        &__img-1{
            width: 200px;
        }
        &__img-2{
            width: 200px;
        }
        &__img-3{
            width: 200px;
        }
    }
}

@include mobile{
    .un-mobile-icon{
        width: 100%;
        
        &__img-1{
            width: 200px;
        }
        &__img-2{
            width: 200px;
        }
        &__img-3{
            width: 200px;
        }
    }
}