.un-tab-title{

    &__text-small{
        color: $color-grey;
        font-size: 16px;
        line-height: 26px;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
    }

    &__head{
        font-size: 50px;
        line-height: 60px;
        letter-spacing: -1px;
        font-weight: 700;
        margin-bottom: 20px;
        color: $color-black;
        display: flex;
        justify-content: center;
    }

    &__cnt{
        display: flex;
        justify-content: center;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        margin-bottom: 30px;
        color: $color-black;
        text-align: center;    
    }
}

@include mobile{
    .un-tab-title{
        &__head{
           font-size: 40px;
           line-height: 45px;
           margin-bottom: 15px;
        }
        &__unbreak{
            display: none;
        }
        &__cnt{
            font-size: 13px;
            line-height: 18px;
        }
    }

   
}