.un-tile-h{
    border-bottom: 1px solid $color-grey-1;
    padding: 20px;

    &__head{
        font-size: 25px;
        line-height: 30px;
        font-weight: 600;
        color: $color-black;
        margin-bottom: 10px;

        &--1{
            margin-bottom: 20px;
        }
    }

    &__sub{
        font-size: 16px;
        line-height: 20px;
        color: $color-grey;
        margin-bottom: 5px;

        &--1{
            margin-bottom: 10px;
        }
    }
}

.un-tile-rate{
    font-size: 35px;
    line-height: 40px;
    font-weight: 700;
    margin: 10px 0px;
}