.un-tile-h{
    padding: 20px;
    display: flex;
    justify-content: space-between;

    &__head{
        font-size: 25px;
        line-height: 30px;
        font-weight: 600;
        color: $color-black;
        margin-bottom: 10px;

        &--1{
            margin-bottom: 20px;
        }
    }

    &__sub{
        font-size: 16px;
        line-height: 20px;
        color: $color-grey;
        margin-bottom: 5px;

        &--1{
            margin-bottom: 10px;
        }
    }

    &__icon{
        display: none;
    }
}

.un-tile-rate{
    font-size: 35px;
    line-height: 40px;
    font-weight: 700;
    margin: 10px 0px;
}


@include mobile{
    .un-tile-h{
        &__icon{
            display: block;
            width: 30px;
            height: 30px;
            cursor: pointer;
        }
    }
}
