.un-title{
    width: 40%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;

    &__head{
        font-size: 40px;
        line-height: 50px;
        letter-spacing: -1px;
        font-weight: 700;
        margin-bottom: 20px;
        color: $color-black;
    }

    &__cnt{
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        margin-bottom: 20px;
        color: $color-black;
    }

    &__sub{
        font-size: 10px;
        line-height: 15px;
        color: $color-light-black;
    }
}

@include tablet{
    .un-title{
        height: auto;
    }
}

@include mobile{
    .un-title{
        width: 100%;
        height: auto;
        margin-left: 0px;
        margin-bottom: 30px;
    }
}